* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    ;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    background-color: #FD6E0A;
    color: white;
    border: none;
    border-radius: 5px;
    height: 64px;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;

}

.header {
    background-color: #fff8f3;
    background-image: url('/images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* header and navigation styles is here */
nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
    padding-top: 50px;

}

.nav-title {
    font-weight: 800;
    font-size: 45px;

}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

/* banner and header styles */
.banner {
    display: flex;
    margin: 0px 200px;
    align-items: center;

}

.banner-title {
    font-weight: 700;
    font-size: 45px;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;

}

.banner-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

.contact {
    width: 20px;
    height: auto;
    color: #FD6E0A;
}

/* main section */

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about section */
.about {
    margin-top: 130px;
    background-color: #fff8f3;
    border-radius: 5px;
    padding: 130px 150px;
    text-align: center;
    box-shadow: 5px 5px 10px #DDD7D2;

}

.section-title {

    margin-bottom: 30px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;

}

.about-info-container {
    display: flex;
    justify-content: space-around;

}

.about-info {}

.info-title {
    font-size: 20px;
    color: #757575;
}

.info-description {
    font-size: 20px;
    color: #222222;
}

/* what i do styles */
.what-i-do {
    margin-top: 70px;
}

.skills-container {
    display: flex;
    background-color: #fff8f3;

}

.h2 {
    text-align: center;
}

.what-i-do-details {
    font-size: 18px;
    font-weight: 600;
    color: #757575;
    text-align: center;
    margin: 40px 200px;

}

.skill {
    border: 1px solid #fff8f3;
    padding: 20px;
    margin-left: 20px;
    background-color: #FFFFFF;
    color: #757575;
    box-shadow: 5px 5px -10px #DDD7D2;
}

.skill h3 {
    color: #222222;
    padding: 10px 0;
}

.skill image {
    margin-bottom: 10px;
}

footer {
    width: auto;
    height: 50px;
    background-color: tomato;
    color: black;
    text-align: center;
    position: relative;
    padding-top: 15px;
}